.hidden {display: none; }

body {
  background-color: #fff;
  color: black;

  font-family: Arial, helvetica, sans-serif;
  font-size: 100%;
}

.projectHeader { margin: 30px 0 10px; font-size: 2em;}
.projectHeader, .projectSubheader { text-align: center;}

.zoomAnimation { animation: zoomAnimation 2.5s forwards;}

.textVector {
  position: absolute;
  top: 139px;
  left: 255px;
  height: 300px;

  opacity: 0;
  animation-delay: 2s;
}

@keyframes zoomAnimation {
  0% { opacity: 0;}
  10% { opacity: 1;}
  30% { transform: rotate(0deg);}
  50% { transform: rotate(10deg);}
  80% { transform: rotate(0deg);}
  100% {opacity: 1; transform: rotate(10deg);}

}
