*{
  margin: 0;
  padding: 0;
  border: none;
}


.hidden {display: none; }

body {
  background-color: #fff;
  color: black;

  font-family: Arial, helvetica, sans-serif;
  font-size: 100%;
}

/* SVG section for Type animation */
.type { margin-top:12px;}

.typeWrapper{
  width: 530px;
  border: thin solid black;
  margin: 0 auto;
  overflow: hidden;

  position: relative;
}

svg {width: 100%;}

/* SVG section ends */

.controls { text-align: center; }

.controls button {
  padding: 20px;
  cursor: pointer;
  margin-top:  1.5em;
  border-radius: 1em;
}

.projectHeader { margin: 30px 0 10px; font-size: 2em;}
.projectHeader, .projectSubheader { text-align: center;}

.zoomAnimation { animation: zoomAnimation 2.5s forwards;}

.textVector {
  position: absolute;
  top: 139px;
  left: 255px;
  height: 300px;

  opacity: 0;
  animation-delay: 2s;
}

@keyframes zoomAnimation {
  0% { opacity: 0;}
  10% { opacity: 1;}
  30% { transform: rotate(0deg);}
  50% { transform: rotate(10deg);}
  80% { transform: rotate(0deg);}
  100% {opacity: 1; transform: rotate(10deg);}

}
